body {
    background-color: 00000f;
    font-family: monospace;
    }

p {
    padding: 10px;
}

h1{
    font-weight: bold;
    font-size: 30px;
    text-decoration:solid;
}

h2{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: darkolivegreen;
}

h3{
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    color: teal;
    text-decoration: underline;

}

a{
    font-style: italic;
    font-weight: bolder;
    
}


.header {
font-style: italic;
color: darkolivegreen;
}

figcaption{
font-style: italic;
font-size: small;    
}