@media(min-width:625px){
    .container{
        display:grid;
        grid-template-columns: 175Px 150px 150px 150px;
        grid-template-rows: 100px 250px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd"
        "sd feat feat feat feat feat feat"
        "main main main main main main main"
        "ft ft ft ft ft ft ft";
        border: 2px solid yellow;
        
    }
}