

@media(min-width:625px){
.container{
    display:grid;
    grid-template-columns: 175Px 150px 150px 150px;
    grid-template-rows: 100px 20px 250px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "nav nav nav nav nav nav nav"
    "feat feat feat feat feat feat feat"
    "main main main main main main main"
    "ft ft ft ft ft ft ft";

    
    
}

.featP{
    display: flex;
    justify-content: left;
}


.buttonBox{
    display: flex;
    align-items: flex-end;
    grid-area: nav;
    align-items: end;

}

.headerBox{
    grid-area: hd; 

}

.flexbox{
    grid-area: main;
   
    display:flex;
    justify-content:  space-around;

}

.sidebarBox{
    grid-area: sd;

}



.featuredBox{
    grid-area: feat; 

}
.innerFeatBox{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.stackedbox{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
}

   
.otherStoriesBox1{
  
    align-content:center;
}

.otherStoriesBox2{
 
    border-width: 5px;
    border:solid;
    align-content:center;
    margin:5px;
}


.genericBox{
    width: 270px;
    height: auto;
    border: 2px solid darkolivegreen;
    margin:5px;


}

}



