body {
    background-color: 00000f;
    font-family: monospace;
    }

p {
    padding: 10px;
}


.header {
font-style: italic;
color: darkolivegreen;
}


@media(min-width:625px){
.container{
    display:grid;
    grid-template-columns: 175Px 150px 150px 150px;
    grid-template-rows: 100px 250px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "sd feat feat feat feat feat feat"
    "main main main main main main main"
    "ft ft ft ft ft ft ft";
    border: 2px solid yellow;
    
    
}










.headerBox{
    grid-area: hd; 
    border: 2px solid blue;

}

.flexbox{
    grid-area: main;
   
    display:flex;
    justify-content:  space-around;
    border: 2px solid purple;

}

.sidebarBox{
    grid-area: sd;
    border: 2px solid yellow;

}



.featuredBox{
    grid-area: feat; 
    border: 2px solid orange;
}
.otherStoriesBox1{
  
    border: 2px solid purple;
    align-content:center;
}

.otherStoriesBox2{
 
    border-color: orange;
    border-width: 5px;
    border:solid;
    align-content:center;
    margin:5px;
}

.otherStoriesBox3{
 
    border: orange;
    border-width: 5px;
    border:solid;
    align-content:center;
    margin:5px;

}

.genericBox{
    width: 270px;
    height: auto;
    border: 2px solid gray;
    margin:5px;


}

.footerBox{
    background-color: gray;
    grid-area: ft; 
    min-height: 50px;
}
}



